body{background-color:black;width:99%;margin:0px auto;padding:0;border:0;text-align:center}

p{text-align:center; text-indent:30px; color:yellow; margin-left:20px;margin-right:20px;font-family:arial}
h1{color:yellow;text-align:center;font-family:"times new roman",arial}
h2{color:yellow;text-align:center;font-family:"times new roman",arial}
h3{color:yellow;text-indent:40px}
h3.jp{color:yellow;text-align:right}
ul{color:yellow;text-align:center;font-family:"times new roman",arial}
ol{color:yellow;text-align:center;font-family:"times new roman",arial}
div{color:yellow;text-align:center;font-family:"times new roman",arial}
b.social{color:black;font-family:Verdana,Arial}
#esquina1{position: absolute; top:11px; left: 15px;width: 120px; height: 120px}
#esquina2{position: absolute; top: 11px; right:13px; width: 120px; height: 120px}
ul {
    list-style: none;
}
ol {
    list-style: none;
}
.nav li {
    display: inline;
    padding: 16px;
    margin: 10px;
    

}

.nivel li {
    text-align: center;

}	