header {
	width: 100%;
}
 
header nav {
	background: none;
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin:20px auto;
}
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}
#top {
    text-align: center;
}
.menu {
    text-align: center;
    list-style: none;
    flex-wrap: wrap;
}
.menu_bar {
    display: none;
}
#top a {
    text-decoration: none;
    color: white;
    background: #2110bb;
    padding: 5px;
    border-radius: 2px;
}
#top nav ul li a{
    text-align: center;
    
}
/* hover - mouse em cima do elemento */
#top a:hover {
    box-shadow: whitesmoke 2px 1px 2px;
    background: #333;
}

#contato:hover {
    box-shadow: whitesmoke 2px 1px 2px;
    background: #333;
}

#topo a:hover {
    box-shadow: whitesmoke 2px 1px 2px;
    background: #333;
}

/* active - elemento esta sendo clicado */
#top a:active {
    box-shadow: inset wheat 2px 1px 2px;
    background: red;
}

#contato:active {
    box-shadow: inset wheat 2px 1px 2px;
    background: blue,
}

#topo a:active {
    box-shadow: inset wheat 2px 1px 2px;
    background: red;
}

/* --- reproductor flutuante */
#repro {
    background: red;
    font-family: "times new roman",arial;
    color: white;
    text-decoration: none;
    padding: 1px;
    border-radius: 5px;
    position: fixed;
    right: 1em;
    top: 1em;
    width: 20%;
    height: 5%;
    
}
/* --- botão flutuante */
#contato {
    background: red;
    font-family: "times new roman",arial;
    color: white;
    text-decoration: none;
    padding: 3px;
    border-radius: 5px;
    position: fixed;
    right: 1em;
    top: 4em;
}
@media screen and (max-width: 1060px) {
    body {
		padding-top:80px;
	}
    #top img {
        float: none;
    }
    #top{ 
      text-align: center;
    }
    
    .menu_bar {
        display: block;
        width: 100%;
        /* position: fixed; */
        top:0;
    }
    .menu_bar .bt-menu {
        padding: 20px;
        color: whitesmoke;
        overflow: hidden;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
    }
    
    
    header nav {
		width: 75%;
		height: calc(100% - 80px);
		position: absolute;
		right:100%;
        margin: 0;
       
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
  }
  

#img1 {
    float: center;
    border-radius: 30px;
    width: 70%;
    height: 70%;
    
}
#img2 {
    float: center;
    border-radius: 30px;
    width: 90%;
    height: 90%;
}
#img3 {
    float: center;
    border-radius: 30px;
    width: 70%;
    height: 70%;
}
#img4 {
    float: center;
    border-radius: 30px;
    width: 70%;
    height: 70%;
}
#img5{
    float: center;
    border-radius: 30px;
    width: 90%;
    height: 90%;
}
#img6 {
    float: center;
    border-radius: 30px;
    width: 90%;
    height: 90%;
}
.menu li{
    display: inline-flex;
    margin: 30px;
    right: 0;
    /* padding: 20px;
    flex-wrap: wrap;
    max-width: 1100px; */
   
}
.menu {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    
}
body {
    background-color: #333;
    width:99%;
    margin:0px auto;
    padding:0;
    border:0;
    text-align:center;
}
p {
    text-align:justify;
    text-indent:30px;
    color: whitesmoke;
    margin-left:20px;
    margin-right:20px;
    /* font-family:arial; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Comfortaa', cursive;
}
h1 {
    color: whitesmoke;
    text-align:center;
    /* font-family:"times new roman",arial; */
    font-family: 'Comfortaa', cursive;
}
h2 {
    color: whitesmoke;
    text-align:center;
    /* font-family:"times new roman",arial; */
    font-family: 'Comfortaa', cursive;
}
h3 {
    color: whitesmoke;
    text-align:center;
    /* font-family:"times new roman",arial; */
    font-family: 'Comfortaa', cursive;
}

h3 #baile {
    color:whitesmoke;
    text-align:center;
    font-family: 'Comfortaa', cursive;
}

ul {
    color:whitesmoke;
    /* text-align:center; */
    /* font-family:"times new roman",arial; */
    font-family: 'Comfortaa', cursive;
    list-style: none;
    padding-right: 40px;
}
ol {
    color:whitesmoke;
    text-align:center;
    font-family: 'Comfortaa', cursive;
    list-style: none;
}
div {
    color:yellow;
    text-align:center;
    font-family: 'Comfortaa', cursive;
}
#list {
    text-align: center;
}	
#video1 {
    float: center;
    width: 70%;
    height: 70%;
    border-radius: 20px;
}
#topo ul li a {
    text-align: center;
    text-decoration: none;
    color: white;
    background: #2110bb;
    padding: 5px;
    border-radius: 2px;
}

#linha {
    color: yellow;
}